.young-serif-regular {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
  }

h3.outfit-clear{
    font-weight: 800;
}
  
.outfit-clear {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

body {
    background-color: #f3e5d8;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    font-size: 16px;
}

.container {
    /* padding-top: 10vh;
    margin-bottom: 10vh; */
    height: 100%;
    width: 50%;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

.container2{
    padding: 10px;
    background-color: #fff7fc;
    border-radius: 10px;
}

img {
    width: 100%;
    height: 30%;
    border-radius: 20px;
    
}

li {
    margin-bottom: 5px;
    padding-bottom: 5px;
}

ol{
    margin: 0px;
    padding: 20px
}
table{
    width: 100%;
    border-bottom: none;
}

table, th, td {
    
    border: 1px solid black;
    border-collapse: collapse;
    /* border-bottom: none; */
    border-right: none;
    border-left: none;
    border-top: none;

  }

  td{
    
    padding: 10px ;
  }


  h2{
    color: #76463a;
  }

  h3{
    color: #73334f;
    
  }

  .special {
    color: #76463a;
    font-weight: 800;
  }